<md-toolbar class="pip-appbar-ext">
</md-toolbar>

<pip-document>
    <div class="pip-menu-container">
        <div class="pip-content-container p24">

            <h2 class="text-title tm0 bm24">{{ 'GUIDE' | translate }}</h2>

            <h3 class="text-subhead2">{{:: 'GUIDE_DIALOG' | translate}}</h3>

            <div layout="row" layout-align="start center">
                <md-button class="lm0" ng-click="onGuideDialog($event)">
                    {{ 'OPEN_GUIDE_DIALOG' | translate}}
                </md-button>
            </div>

            <h3 class="text-subhead2">{{:: 'CODE' | translate}}</h3>
<pre class="text-body1 color-window-bg p16">

    <strong>pipGuidance.showIntroReleaseGuide</strong>
            ($scope.guide, $scope.settings, null, 'en', $rootScope.$party, $rootScope.$user);

</pre>

            <md-divider class="tm8"></md-divider>

            <h3 class="text-subhead2">{{:: 'GUIDE_TIP' | translate}}</h3>

            <div class="h48" layout="row" layout-align="start center">
                <md-button class="lm0" ng-click="showTips($event)">
                    {{ 'OPEN_GUIDE_TIP' | translate}}
                </md-button>

            </div>
        </div>
    </div>
</pip-document>

